@import "../../styles/vars.scss";

.Button {
  text-align: center;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 7px;
  background-color: $accentColor;
  font-size: 1rem;
  font-weight: 500;

  &:hover:not(:disabled) {
    background-color: rgb(49, 49, 49);
    color: $bgColor;
    text-decoration: none;
    transition: background-color 0.1s ease;
  }

  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
}
