@import "../../styles/vars";

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Header {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: 500;
}
