/* Breakpoints */
$smallMobile: 300px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #eaeaea;
$accentColor: #e9d8ec;
$textColor: #000000;

/* Fonts */
$generalFont: "Raleway";
