@import "../../styles/vars.scss";

.Container {
  display: flex;
  width: 80vw;
}

.TableRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.TableData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 2px solid $bgColor;
  border-radius: 3px;
}

@media screen and (max-width: $mobile) {
  .TableRow {
    font-size: 9px;
  }
}

@media screen and (max-width: $smallMobile) {
  .TableRow {
    font-size: 6px;
  }
}
