@import "../../styles/vars.scss";

.Container {
  display: flex;
  width: 80vw;
}

.TableRow {
  display: grid;
  gap: 0.5em;
  justify-content: flex-start;
  grid-template-columns: repeat(5, 1fr);
}

.TableData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 2px solid $bgColor;
  border-radius: 3px;
  justify-content: flex-start;
}

@media screen and (max-width: $tablet) {
  .TableRow {
    gap: 0;
  }

  .Container {
    width: 90vw;
  }
}

@media screen and (max-width: $mobile) {
  .Container {
    justify-content: center;
  }

  .TableRow {
    font-size: 9px;
    grid-template-columns: repeat(2, 1fr);
  }

  .TableData:last-child {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (max-width: $smallMobile) {
  .TableRow {
    font-size: 6px;
  }
}
