@import "../../styles/vars.scss";

.Container {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.TableRow {
  display: flex;
}

.TableData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 2px solid $bgColor;
  border-radius: 3px;
  justify-content: flex-start;
}

@media screen and (max-width: $tablet) {
  .TableRow {
    gap: 0;
  }

  .Container {
    width: 90vw;
  }
}

@media screen and (max-width: $mobile) {
  .Container {
    justify-content: center;
  }

  .TableRow {
    font-size: 9px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $smallMobile) {
  .TableRow {
    font-size: 6px;
  }
}
