.TableButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.ImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
}

.Img {
  width: 100%;
}
