@import "../../styles/vars.scss";

.Table {
  width: 80vw;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid $bgColor;
}

.Body:last-child {
  text-align: center;
}

.ErrorData {
  height: 60px;
}

@media screen and (max-width: $tablet) {
  .Table {
    width: 90vw;
  }
}
