@import "../../styles/vars";

.Link {
  padding: 10px 30px;
  border: 1px solid $bgColor;
  border-radius: 6px;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    transition: background-color 0.2s ease;
    border: 1px solid #7e7e7e;
  }
}

.Link_active {
  text-decoration: none;
  transition: background-color 0.2s ease;
  border: 1px solid #939292;
}
